

html, body {
    margin:0;
    padding:0;
}

body {
    font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
}

#titlebar-user {
    height:4em;
}
#titlebar, #titlebar-user {
    background-color:#7fdc00;
    color:#FFFFFF;
    height:4.1em;
    left:0;
    padding:0.2em 0.8em;
    text-align:left;
    top:0;
}

#login {
    margin: 10px auto;
    width:200px;
    font-weight:bold;
}

#login label{
    font-size:20px;
}

#login input{
    font-size:20px;
    margin-right:6px;
    padding:3px;
    width:97%;
}

#login h2{
    font-size:30px;
    margin:0.3em 2.3em;
}

form {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    font-weight:bold;
    margin-left:8px;
    padding:16px 16px 40px;
    background-color:#7FDC00;
}

#login form {
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    font-weight:bold;
    margin-left:8px;
    padding:16px 16px 40px;
    background-color:#7FDC00;
}
#login .submit{
    float:right;
}
#login .submit input{
    background-color:#E5E5E5;
    border-color:#80B5D0;
    color:#224466;
    font-size:12px;
    margin:10px;
}
#login #flashMessage{
    border-style:solid;
    border-width:1px;
    margin:0 0 16px 8px;
    padding:12px;
    background-color:#FFEBE8;
    border-color:#CC0000;
    font-weight:normal;
}
#flashMessage{
    border-style:solid;
    border-width:1px;
    margin:0 0 16px 8px;
    padding:12px;
    background-color:#FFEBE8;
    border-color:#CC0000;
    font-weight:normal;
}

#entries{
    height:300px;
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:0;
    margin:1em;
    position:relative;
    z-index:1;
    overflow-x:hidden;
    overflow-y:auto;
    position:relative;
    border:2px solid #6688EE;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
}
#entries .entry{
    background:#FFFFFF none repeat scroll 0 0;
    margin:0;
    background-color:#FAFAFA;
    padding-top:10px;
    position:relative;
    
}
.card{
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border:1px solid #BBBBBB;
    overflow:hidden;
    background-color:#FFFFFF;
    margin:0 10px;
    border-color:#6688EE;
    border-width:2px;
}
.entry .header{
    width:100px;
}
